@model FortuneSystem.Models.Catalogos.CatTipoCamiseta

@{
    ViewBag.Title = "Detalles Tipo Camiseta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionTipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoGrupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoGrupo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.IdTipo }) |
    @Html.ActionLink("Regresar", "Index")
</p>
