@model FortuneSystem.Models.Catalogos.CatTipoCamiseta

@{
    ViewBag.Title = "Eliminar Tipo Camiseta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>¿Est&aacute; seguro de eliminar el tipo de camiseta?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionTipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoGrupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoGrupo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
