@model IEnumerable<FortuneSystem.Models.Catalogos.CatTallaItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administraci&oacute;n de Tallas</h2>
<p>
    <a href="@Url.Action("CrearTalla")">
        <button type="button" class="btn btn-primary" id="nuevo-usuario" data-toggle="modal">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Agregar Talla
        </button>
    </a>
</p>
<table  class="table table-striped" id="tablaTalla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Talla)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Talla)
                </td>
                <td>
                    @Html.ActionLink(" ", "Editar", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-edit", @style = "color:black", @Title = "Editar Talla" }) |
                    @Html.ActionLink(" ", "Detalles", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-search", @style = "color:black", @Title = "Detalles Talla" }) |
                    @Html.ActionLink(" ", "Eliminar", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-trash", @style = "color:black", @Title = "Eliminar Talla" })
                </td>
            </tr>
        }
    </tbody>
</table>
