@model IEnumerable<FortuneSystem.Models.Catalogos.CatColores>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administraci&oacute;n de Colores</h2>

<p>
    <a href="@Url.Action("CrearColor")">
        <button type="button" class="btn btn-primary" id="nuevo-usuario" data-toggle="modal">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Agregar Colores
        </button>
    </a>
</p>
<table class="table table-striped" id="tablaColores">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionColor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionColor)
                </td>
                <td>
                    @Html.ActionLink(" ", "Editar", new { id = item.IdColor }, new { @class = "btn btn-default glyphicon glyphicon-edit", @style = "color:black", @Title = "Editar Color" }) |
                    @Html.ActionLink(" ", "Detalles", new { id = item.IdColor }, new { @class = "btn btn-default glyphicon glyphicon-search", @style = "color:black", @Title = "Detalles Color" }) |
                    @Html.ActionLink(" ", "Eliminar", new { id = item.IdColor }, new { @class = "btn btn-default glyphicon glyphicon-trash", @style = "color:black", @Title = "Eliminar Color" })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>

    $(document).ready(function () {
        $('#table').DataTable();
    });
</script>
