@model IEnumerable<FortuneSystem.Models.POSummary.POSummary>



<table align="center" class="table table-striped" id="tablaPOEstilos">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.EstiloItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescripcion.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatColores.CodigoColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatColores.DescripcionColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @Html.HiddenFor(modelItem => item.IdItems)
                <td>
                    @Html.DisplayFor(modelItem => item.EstiloItem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemDescripcion.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CatColores.CodigoColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CatColores.DescripcionColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a href="#" class="btn btn-default glyphicon glyphicon-edit btnEdit" data-value="@item.IdItems" title="Editar Estilo"></a>
                    @* @Html.ActionLink(" ", "EditarEstilo", "Pedidos", new { id = item.IdItems }, new { data_target = "#myModal", data_toggle = "modal", @class = "btn btn-default glyphicon glyphicon-edit", @style = "color:black", @Title = "Editar Estilo" }) |*@
                    @Html.ActionLink(" ", "Listado_Tallas_Estilo", new { id = item.IdItems }, new { @class = "btn btn-default glyphicon glyphicon-search", @style = "color:black", @Title = "Consultar Tallas" }) |
                    @Html.ActionLink(" ", "Eliminar", new { id = item.IdItems }, new { @class = "btn btn-default glyphicon glyphicon-trash", @style = "color:black", @Title = "Eliminar Estilo" })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Estilo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div id="ContenedorModal"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".btnEdit").click(function () {
            var id = $(this).data("value");
            $("#ContenedorModal").load("/Pedidos/EditarEstilo/" + id, function () {
                $("#myModal").modal("show");
            });
        });
    });
                    /*$(document).ready(function () {
                        $(".btnCreate").click(function () {
                            $("#ContenedorModal").load("/TABRegp/Create/", function () {
                                $("#myModal").modal("show")
                            });
                        });
                    });*/
</script>
