@model FortuneSystem.Models.Catalogos.CatTela

@{
    ViewBag.Title = "Detalles Tela";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tela)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tela)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoTela)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoTela)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Id_Tela }) |
    @Html.ActionLink("Regresar", "Index")
</p>
