@model FortuneSystem.Models.POSummary.POSummary

@{
    ViewBag.Title = "CrearItems";
    
}

<h2>Registrar Items</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-row">
        <div class="form-group col-sm-4">
            @Html.LabelFor(model => model.ItemDescripcion.ItemEstilo, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.ItemDescripcion.ItemEstilo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ItemDescripcion.ItemEstilo, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-4">
            @Html.LabelFor(model => model.EstiloItem, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.EstiloItem, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EstiloItem, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-4">
            @Html.LabelFor(model => model.IdColor, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.IdColor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IdColor, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-4">
            @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-4">
            @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })

        </div>

    </div>
    <div class="form-group">
         <a href="@Url.Action("CrearItems")">
            <button type="button" class="btn btn-primary" id="nuevo-usuario" data-toggle="modal">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Agregar Usuarios
            </button>
        </a>
    </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
