@model IEnumerable<FortuneSystem.Models.TallasEstilos.TallaEstilo>



<table class="table">
    <tr>
        <th style="visibility:hidden;">@Html.DisplayNameFor(model => model.id_recibo)</th>
        <th></th>
        @foreach (var item in Model)
        {
            foreach (var i in item.ListaTallas)
            {
                <th>@i.talla</th>
            }
        }
        <th>@Html.DisplayNameFor(model => model.total)</th>
        <th>@Html.DisplayNameFor(model => model.packing)</th>
        <th>@Html.DisplayNameFor(model => model.fecha)</th>
        <th>@Html.DisplayNameFor(model => model.origen)</th>
        <th>@Html.DisplayNameFor(model => model.material)</th>
        <th>@Html.DisplayNameFor(model => model.notas)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="visibility:hidden;">@Html.DisplayFor(modelItem => item.id_recibo)</td>
            <td>Cantidad</td>
            @foreach (var i in item.ListaTallas)
            {
                <td>@i.talla</td>
            }
            <td>@Html.DisplayFor(modelItem => item.total)</td>
            <td>@Html.DisplayFor(modelItem => item.packing)</td>
            <td>@Html.DisplayFor(modelItem => item.fecha)</td>
            <td>@Html.DisplayFor(modelItem => item.origen)</td>
            <td>@Html.DisplayFor(modelItem => item.material)</td>
            <td>@Html.DisplayFor(modelItem => item.notas)</td>

        </tr>
    }

</table>
